#tab {
  width: 40%;
  height: 50%;
}

#scat1 {
  width: 60%;
  height: auto;
}
#scat2 {
  width: 60%;
  height: auto;
}

.skippy {
    background-color: #563d7c;
    height: auto;
}


.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
